[defaults]
inventory = inventory.ini
remote_user = deploy
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True